<div class="row banner">
  <h1>WE ARE CREATIVEMINDS</h1>
  <div class="menu">
    <div class="col-md-2 col-sm-2">
      <div class="menu_option">
        <%= fa_icon "lightbulb-o", class: "icon"  %>
        <h3>ABOUT</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="menu_option">
        <%= fa_icon "gear", class: "icon" %>
        <h3>SERVICE</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="menu_option">
        <%= fa_icon "group", class: "icon"  %>
        <h3>TEAM</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="menu_option">
        <%= fa_icon "reorder", class: "icon"  %>
        <h3>PROJECTS</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="menu_option">
        <%= fa_icon "quote-left", class: "icon"  %>
        <h3>BLOG</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="menu_option">
        <%= fa_icon "send", class: "icon"  %>
        <h3>CONTACT</h3>
      </div>
    </div>
  </div>
</div><!-- end of banner -->

<div class="row about">
  <h1>ABOUT</h1>
  <div class="col-md-8 col-md-offset-2">
    <h4>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
      Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor
      lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
      Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus
       orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet
        aliquam vel, ullamcorper sit amet ligula. </h4>
  </div>
</div><!-- end of about -->

<div class="row service">
  <h1>SERVICES</h1>
  <div class="service_options">
    <div class="col-md-3">
      <%= fa_icon "mobile", class: "service_icon mobile"  %>
      <h3>Responsive Websites</h3>
    </div>
    <div class="col-md-3">
      <%= fa_icon "code", class: "service_icon"  %>
      <h3>Wordpress themes</h3>
    </div>
    <div class="col-md-3">
      <%= fa_icon "pencil", class: "service_icon"  %>
      <h3>Graphic design</h3>
    </div>
    <div class="col-md-3">
      <%= fa_icon "phone", class: "service_icon"  %>
      <h3>Dedicated support</h3>
    </div>
  </div>
</div>
